@tailwind base;
@tailwind components;
@tailwind utilities;



  .jamjuree{
    font-family: "Bai Jamjuree", sans-serif;
    /* font-family: "Young Serif", serif; */
    /* font-family: "Poppins", sans-serif; */

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }


  .poppins{
    font-family: "Poppins", sans-serif;
  }

  .dm-sans{
    font-family: "DM Sans", sans-serif;
  }


  body{
    scroll-behavior: smooth;
    height: 100vh;
  }

  html{
    scroll-behavior: smooth;
  }



  .pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
  }
  


  .spin {
    animation: spin 5s infinite linear;
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}


.cursor-auto {
  cursor: auto;
}


