@tailwind base;
@tailwind components;
@tailwind utilities;



  .jamjuree{
    font-family: "Bai Jamjuree", sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }


  .poppins{
    font-family: "Poppins", sans-serif;
  }

  .dm-sans{
    font-family: "DM Sans", sans-serif;
  }


  body{
    scroll-behavior: smooth;
    height: 100vh;
  }

  html{
    scroll-behavior: smooth;
  }



  .pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
  }
  